.mainDiv{
    min-width: 500px; 
    margin: auto;
    width: 50%;
}

.title{
    color: #38a1dd;
}

.searchDiv{
    margin-bottom: 10px;
}

.tableDiv{
    margin-top: 10px;
}

@media only screen and (max-width: 730px) {
    .title{
        width: 380px;
    }

    .searchDiv{
        width: 380px;
    }

    .tableDiv{
        width: 380px;
    }

}
